/* purgecss start ignore */
@import "@docsearch/css";
/* purgecss end ignore */
@import "@nouhsa/akramcss/css/akramcss.min.css";
body {
  padding: 0;
  margin: 0;
}
.page {
  max-height: calc(100vh - 4rem);
}
